body {
	padding: 50px 0px 0px 0px;
	z-index: 0;
}

.navbar-dark {
	background-color: #512da8;
}

.jumbotron {
	margin: 0px auto;
	padding: 70px 30px;
	background: #9575cd;
	color: floralwhite;
}

.carousel {
	background: #512da8;
}
.carousel .carousel-item {
	height: 300px;
}
.carousel .carousel-item img {
	position: absolute;
	top: 0px;
	left: 0px;
	min-height: 300px;
}

.footer {
	background-color: #d1c4e9;
	margin: 0px auto;
	padding: 20px 0px;
}

.reserve-modal{
	background-color: #d1c4e9;
}

.section input[type="radio"]{
	display: none;
}

.section input[type="radio"]:checked + .radio-label1{
	background-color: #01c901;
	;
}

.section input[type="radio"]:checked + .radio-label2{
	background-color: rgb(252, 141, 141);
}

.section .radio-label1{
	color:white;
	background-color: green;
	padding: 5px 15px;
	display: inline-block;
	border-radius: 5px;
	cursor:pointer;
	
}

.section .radio-label2{
	color:white;
	background-color: red;
	padding: 5px 15px;
	display: inline-block;
	border-radius: 5px;
	cursor:pointer
}

.section .radio-label1:hover{
	background-color:#01c901
}

.section .radio-label2:hover{
	background-color: rgb(252, 141, 141);
}

.labelred{
	background-color: red;
	color: white;
	padding: 1px 10px;
	border-radius: 5px;
	margin: 5px;
}

.graylabel{
	background-color: gray;
	color:white;
	padding: 1px 10px;
	border-radius: 20px;
}

.font-size-15{
	font-size: 15px;
}

.row-menu1{
	height: 250px;
	display: flex;
	align-items: flex-start;
}

.row-menu2{
	height: 250px;
	display: flex;
	align-items: center;
}

.row-menu3{
	height: 250px;
	display: flex;
	align-items: flex-end;
}

.img-menu{
	border-color: white;
	border-style: ridge;
	border-width: 5px;
	border-radius: 5px;
	
}

