@model Cars

<h1>Delete User</h1>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="car_id" />

    <input asp-for="make" type="text" placeholder="Brand" readonly />
    <input asp-for="model" type="text" placeholder="Model" readonly />
    <input asp-for="year" type="number" placeholder="Year" readonly />

    <div>
        <input asp-for="isActive" type="checkbox" class="" readonly /> <label>Is Active?</label>
    </div>

    <input type="submit" class="btn btn-danger" value="Delete" />
</form>

<a asp-action="Index">Back to list</a>